{
  "semi": true,             // استفاده از ; در انتهای دستورات
  "singleQuote": true,      // استفاده از ' به جای "
  "trailingComma": "all",   // اضافه کردن کاما در آخر آرایه و آبجکت
  "printWidth": 80,         // حداکثر طول خط
  "tabWidth": 2,            // تعداد فاصله برای تب
  "arrowParens": "always"   // پرانتز برای آرگومان‌های تابع فلش همیشه
}
